.Cont{
    height: 98%;
    width: 90%;
    /*border: 1px solid blue;*/
    align-self: end;
    justify-self: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ImgInstr{
    display: grid;
    /*justify-content: center;*/
    width: 100%;
    overflow: hidden;
    /*border-radius: 15px;*/
}
.Img{
    /*height: 100%;*/
    /*width: 100%;*/
    border-radius: 15px;
}