.MenuContainer {
    perspective: 300px;
    perspective-origin: center top; /* Важно! Точка обзора сверху */
    display: inline-block;
}

.Menu {
    height: 4rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    border-radius: 3rem;
    background-color: #e6e6e6;

    /* 3D трансформация */
    perspective: 150px;
    transform: rotateX(40deg);
    transform-origin: center top;

    /* Тень, следующая за наклоном */
    box-shadow:
        /* Жесткая тень - создает эффект толщины */
            0 0.6rem 0 -0.2rem rgb(184, 184, 184),
                /* Мягкая тень сразу под элементом */
            0 20px 15px -5px rgba(0, 0, 0, 0.3),
                /* Рассеянная тень дальше */
            0 20px 25px -8px rgba(0, 0, 0, 0.2);

    /* Для плавности */
    transition: all 0.2s ease;
}

.divBtn{
    display: grid;
    justify-items: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    position: absolute;
    bottom: 3.5rem;
    /*border: 1px solid red;*/
}
.icon{
    font-size: 2rem;
}
/*!* Эффект при наведении - усиливаем наклон *!*/
/*.Menu:hover {*/
/*    transform: rotateX(20deg);*/
/*}*/