.Carousel{
    height: 100%;
    width: 100%;
    border: 10px solid red;
    overflow: hidden;
    position: absolute;
    background-color: red;
    color: red;
}
.BB{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*border: 2px solid blue;*/
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    z-index: 10000;
}
.divClose{
    width: 100%;
    height: 100%;
}