:root {
    --font-vibes: 'Great Vibes', cursive;
    --font-forum: 'Forum', cursive;
    --font-cursive: 'Cursive', cursive;
}
.BG{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/images/Wood2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 85% 15%;
}
.HomeT3{
    display: grid;
    grid-template-rows: 24% 41% 18% 15%;
    /*border: 1px solid red;*/
    z-index: 1;
}

/*--------------------------------------------------------------Intro & Invite----------------------------------------*/
.divIntro div, .divWM div, .divDate div, .divInvite div{
    /*border: 1px solid red;*/
    /*font-size: calc(var(--base-font-size) * var(--font-scale));*/
}
.divIntro, .divInvite{
    /*border: 1px solid red;*/
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.divIntro{
    display: grid;
    align-items: end;
}
.divInvite{
    display: grid;
    align-items: start;
}
.customIntro, .customInvite{
    width: 70%;
    color: #dadada;
    font-family: var(--font-forum);
    /*--base-font-size: 12px;*/
    letter-spacing: 2px;
    font-weight: bolder;
    /*border: 1px solid red;*/
}

/*--------------------------------------------------------------WM----------------------------------------------------*/
.divWM{
    /*border: 2px solid blue;*/
    display: grid;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}
.customWM{
    text-align: center;
    /*font-family: var(--font-vibes);*/
    /*--base-font-size: 1rem;*/
    color: #CEC58E;
    /*border: 1px solid blue;*/
}

/*--------------------------------------------------------------Date--------------------------------------------------*/
.divDate{
    display: grid;
    gap: 10%;
    align-content: start;
    justify-items: center;
    width: 100%;
    /*border: 1px solid blue;*/
}
.MDY{
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: var(--font-forum);
    gap: 10%;
    width: 40%;
    /*border: 1px solid red;*/
}
.dayTitle{
    display: grid;
    color: #CEC58E;
    /*border: 1px solid red;*/
    font-family: var(--font-vibes);
    --base-font-size: 28px;
    padding-right: 4%;
    width: 40%;
    justify-items: center;
}
.M, .D, .Y{
    display: grid;
    align-items: end;
}
.M div{
    color: #dcdcdc;
}
.Y div{
    color: #dcdcdc;
}
.D div{
    color: #CEC58E;
    line-height: 0.7;
}
.open.customMonth{
    font-size: 1.3rem;
}
.open.customDay{
    font-size: 3rem;
}
.open.customYear{
    font-size: 1.4rem;
}
.open.customDT{
    font-size: 2rem;
}
.closed.customMonth{
    font-size: 0.9rem;
}
.closed.customDay{
    font-size: 1.8rem;
}
.closed.customYear{
    font-size: 1rem;
}
.closed.customDT{
    font-size: 1.2rem;
}
/*--------------------------------------------------------------EWRA--------------------------------------------------*/
.customEventTitle, .customWishTitle, .customRVSPTitle, .customAnalyticTitle{

}
.customEventFrame, .customWishFrame, .customRSVPFrame, .customAnalyticFrame{
    background-color: rgba(57, 57, 57, 0.49);
    border: 1px solid #CEC58E;
}

/*------ Event & Wish ------*/
.customTime, .customEventName{

}
.customEventDesc, .customWishDesc{
    color: white;
}

/*------ RVSP ------*/
.customBtnConfirm, .customYesOrNotBtn.customActive, .customAlcoButton.customActive {
    /*background-color: #bf5a89;*/
}
.customAlcoButton{
    /*border: 1px solid #bf5a89;*/
}

/*------ Analytic ------*/
.customLine{
    border: 1px solid white;
    color: white;
}
.customDrinkSummary{
    color: white;
}
.customOtherLine{
    border-bottom: 1px solid white;
}