.BB{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    z-index: 4;
}
.BBClose{
    position: absolute;
    width: 100%;
    height: 100%;
}
.FU{
    background: #faf9f9;
    position: absolute;
    top: 2rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 80%;
    height: auto;
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
    z-index: 5;
    /*border: 2px solid red;*/
}
.FU div{
    /*border: 1px solid blue;*/
}
.EditTitle{
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    /*border: 1px solid red;*/
}
.Name{
    /*text-align: center;*/
    font-weight: bold;
    color: #7a7a7a;
    font-size: 1rem;
    /*border: 1px solid red;*/
    padding-left: 0.3rem;
}
.Pencil{
    /*border: 1px solid red;*/
    font-size: 0.7rem;
    display: grid;
    justify-items: end;
}
.Title{
    color: #959595;
    text-align: center;
    margin-bottom: 5%;
    font-size: 1rem;
    font-weight: bold;
}
.divBtn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*height: 50px;*/
    align-content: center;
    /*justify-items: center;*/
    /*border: 1px solid red;*/
    margin-top: 5%;
    gap: 5%;
}
.btnY, .btnN{
    width: 100%;
    /*align-self: center;*/
    border: none;
    color: white;
    border-radius: 1rem;
    height: 35px;
    font-size: 0.8rem;
}
.btnN{
    background-color: #fd9696;
}
.btnY{
    background-color: #41b5ff;
}