.calendar {
    border-radius: 10px;
    z-index: 100;
    width: 100%;
    height: auto;
    color: #282828;
    margin-bottom: 8%;
    font-family: serif;
}
.divClose{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    display: grid;
    justify-items: right;
}
.closeButton{
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #fd9696;
    border: none;
    border-radius: 10px 0 10px 0;
    z-index: 100;
    font-size: 1rem;
}
.calendarHeader {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #838383;
}
.calendarHeader button{
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 0.9rem;
    color: white;
    background-color: #41b5ff;
}
.weekDays {
    color: #8e8e8e;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3vw;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}
.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.1rem;
}

.calendarDay {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #efefef;
    color: #838383;
}
.emptyDay {
    visibility: hidden;
    pointer-events: none;
}
.otherMonth {
    color: #d61111;
}
.selectedDay {
    background-color: #ffd700;
    font-weight: bold;
}
.swipeArea {
    touch-action: pan-y;
    position: relative;
    font-size: 1rem;
}