.WithMe{
    width: 90%;
    /*height: 96%;*/
    background-color: white;
    border-radius: 15px;
    color: grey;
    text-align: center;
    align-content: center;
    justify-items: center;
    /*padding: [slideId]%;*/
    grid-template-rows: auto 60%;
}
.MyGruop{
    --base-font-size: 14px;
}
.WithMe div{
    /*border: 1px solid red;*/
}
.AddRemGroup{
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    /*justify-items: center;*/
    gap: 2%;
    /*border: 1px solid red;*/
    width: 90%;
}
.AddRemGroup button{
    height: 70%;
    /*width: 85%;*/
    border: none;
    border-radius: 10px;
}

/*/----------------------------------------------MEDIA----------------------------------------------------/*/
@media (hover: none) and (pointer: coarse) {

}
/* ===== Мелкие смартфоны (портретные) ===== */
@media (max-width: 359px) and (max-height: 570px) {
    /* iPhone 4 (480h) */
    .AddRemGroup button{
        font-size: 11px;
        height: 60%;
    }
}